<%= form_for(@post, remote: true) do |f| %>
  <h6>Title:</h6>
  <%= f.text_field :title,  placeholder: "Add a title." %><br>
  <h6>Content:</h6>
  <%= f.text_area :content, placeholder: "Add some content." %>
  <br>
  <%= f.submit %>
<% end %>