/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap";

#navcontainer {
  background-color: #c5d5cb;
  padding: 2em;
}

body {
  background-color: #9fa8a3;
  color: #1d2120;
}

input {
  background-color: #e3e0cf;
}

a {
  color: #7d4627;
}

textarea {
  background-color: #e3e0cf;
}

.info-container {
  padding: none;
  margin-left: 5em;
  padding: 2em;
}

.posts-container {
  padding: 2em;
  margin: 0 auto;
  width: 100%;
  clear: both;
}

.posts-container p {
  text-align: left;
}

th {
  padding: 1em;
}

td {
  padding: 1em;
}